.env
migrations/
node_modules/
dist/
coverage/
*.log
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
pycache/
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
*.log
*.sqlite3
*.db
*.env
*.pem
*.key
*.crt
snipps.py